body{background-color: coral;;}
*{font-family: Arial, Helvetica, sans-serif;
text-align: center;}
p{color: black;
font-size: 24px;}
h2{color:black;font-size: 30px;}
h3{color:blueviolet;font-size: 30px;}
h1{font-size: 40px;color: black;margin: 15px;}